/* importando tipografia de google */
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
    font-family: 'Prosto One', cursive;
}
h1, h2, h3, h4, h5, h6, p, input, a, textarea, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* variables colores css */
:root{
    /* --clr-main:#4b33a8; violteta oscuro */
    /* --clr-main:#762253; violeta mas claro*/
    /* --clr-main:#977d0c; marroncito*/
    --clr-main:#97380c;
    --clr-white:#ececec;
    --clr-gray:#e2e2e2;
    --clr-red:#961818;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}
aside{
    color: var(--clr-white);
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.logo{
    font-size: 1.3rem;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.boton-menu{
    background-color: transparent;
    border: 0;
    color:var(--clr-white);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}
.boton-menu.active{
    background-color: var(--clr-white);
    color: var(--clr-main);
    position: relative;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.boton-menu > i.bi-hand-index {
    transform: rotate(90deg);
}
.botonCarrito{
    margin-top: 2rem;
}
.indicadorNumero{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.15rem 0.25rem;
    border-radius: 0.3rem;
}
/* esto agrega la curvatura de los bordes derechos berofe para la parte de arriba y after para la de abajo */
.boton-menu.active::before{
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after{
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}
/*se quita el widht por problemas con los bordes con la etiqueta a de carrito*/
.boton-menu.actives{
    background-color: var(--clr-white);
    color: var(--clr-main);
    position: relative;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.boton-menu.actives::before{
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.actives::after{
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.textoFooter{
    color: var(--clr-gray);
    font-size: 1rem;
}
main{
    background-color: #ececec;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2.5rem;
}
.TituloPrincipal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}
/* css para cartas */
.contenedor-producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles{
    background-color: var(--clr-main);
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--clr-white);
    margin-top: -0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.producto-titulo{
    font-size: 1rem;
}
.producto-agregar{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.25rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
}
.producto-agregar:hover{
    color: var(--clr-white);
    background-color: var(--clr-main);
    transition: 0.3s;
}
/* css para html carrito */
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carritoVacio, .carritoComprado{
    color: var(--clr-main);
}
.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 2rem ;
    border-radius: 1rem;
    align-items: center;
}
.carrito-producto-imagen{
    width: 6rem;
    border-radius: 1rem;
}
.carrito-producto small{
    font-size: 0.75rem;
}
.carrito-producto-delete{
    border: 0;
    background-color: transparent;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}
.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    font-size: 1rem;
    cursor: pointer;
}
.carrito-acciones-right{
    display: flex;
}
.carrito-acciones-comprar{
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.carrito-acciones-total{
    display: flex;
    gap: 1rem;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 1rem;
}
.disable{
    display:none;
}

